<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <title>GitHook</title>
</head>

<body>
    <div id="app">
        <h3 style="text-align: center">GitHook</h3>
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="项目全称">
                <el-input v-model="form.name" placeholder="eg. liuzemei/test"></el-input>
            </el-form-item>
            <el-form-item label="webhookUrl">
                <el-input type="textarea" v-model="form.url"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">立即创建</el-button>
            </el-form-item>
        </el-form>
        <p>使用说明</p>
        <p>1. 打开网站 https://github.com/ 所有者 / 仓库名 /settings/hooks </p>
        <p>2. 点击 Add webhook</p>
        <p>3. Payload URL 填写 【 http://118.24.121.133:9089/webhook 】<br />
            Content type 选择 【 application/json 】<br />
            Secret 填写【 1417856569 】<br />
            点击 Add webhook </p>
        <p>4. 添加机器人 【 7000000012 】到群内打开之后获取到 Url </p>
        <p>5. 填写本页信息点击 【 立即创建 】</p>

    </div>
    <script>
        var instance = axios.create()
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    form: {
                        name: '',
                        url: ''
                    }
                }
            },
            methods: {
                async onSubmit() {
                    let { name, url } = this.form
                    if (!name || !url) return this.$message.error('内容未完成')
                    let { data } = await instance.get(`http://118.24.121.133:9089/uploadInfo?name=${name}&url=${url}`)
                    this.$message.info(data)
                }
            }
        });
    </script>
</body>

</html>